$text-color-white: white;
$text-color-grey: rgb(113, 111, 111);
$text-color-black: rgb(24, 24, 24);
$text-color-orange: orange;
$grey-section: rgb(247, 247, 247);
$input-color: rgb(218, 217, 217);
$tablet: 768px;
$mobile: 576px;