footer {
    background-color: #263246;
    padding: 100px;

    .footer__first-row {
        display: flex;
        color: white;
        justify-content: space-between;

        @include breakpoint(tablet) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }



        .footer__about {
            img {
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                color: white;
            }

            input {
                background-color: rgb(56, 56, 56);
                border: 0;
                padding: 10px;
                margin-top: 20px;
            }

            button {
                padding: 10px;
            }
        }

        .footer__aboutUs {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}